# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)
# Author: jequeto@gmail.com
# Since: December 2013
<IfModule mod_rewrite.c>

	# disable directory listing
	Options -Indexes +FollowSymLinks -MultiViews

	RewriteEngine on
	RewriteOptions Inherit

	# Evitamos el acceso al código de la aplicación
	RewriteCond %{REQUEST_URI} .*/app/.*
	RewriteRule .* - [L,F]

	# Si no es un fichero del disco del servidor
	RewriteCond %{REQUEST_FILENAME} !-f [OR]
	# O si es un directorio
	RewriteCond %{REQUEST_FILENAME} -d [OR]
	# Se ejecuta index.php
	RewriteRule ^(.*)$ index.php [QSA,L,NS]
    

</IfModule>